$primary-color : #4ecdc4;
$secundary-color : #c7f464;
$tertiary-color: #ff6b6b;
$quatiary-color: #c44d58;

$primary-font: sans-serif;
$secundary-font: monospace;

$box-style: 5px 3px 8px 0 rgb(255, 107, 107), 4px 4px 16px 0 #c7f464, 0px 0px 24px 2px rgb(78, 205, 196);

$moz-radius: -10em 0;
$webkit-radius:770px;

$gap: 10px;
