.example-spacer {
  flex: 1 1 auto;
}

.header {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color:white;
  background: rgba(0,0,0,0.05);
}

img {
  width:40%;
  cursor: pointer;
}